body{
    font-family:"Roboto", sans-serif;
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin:0;
}
ul{
    padding:0;
    list-style:none;
    margin:0;
    display: flex;
    gap :12px;
}
a{
    text-decoration:none;
    color:#E5E7EB;
    font-size: 18px;
}
.header{
    display:flex;
    justify-content: space-between;
    background-color:#1F2937;
    align-items: center;
    padding: 8px 240px;
    
}
.right-links{
    display:flex;
    align-items: center;
}
.logo{
    font-size:24px;
    font-weight: bold;
    color: #F9FAF8;
    align-items: center;
    
}

.title{
    font-size: 48px;
    color:#F9FAF8;
    font-weight: 900px;
    
}
.description{
    color:#E5E7EB;
    font-size: 18px;
    padding: 20px 0px;
   
}
button{
    background-color: #3882F6;
    border-radius: 8px;
    color:#F9FAF8;
    font-weight: 900px;
    padding: 10px 20px;
    border-color: #3882F6;
}


.hero{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color:#1F2937;
    flex:1;
    padding: 100px 240px;
    gap: 20px;

}
.left-side{
    width: 400px;
}
.image{
    display:flex;
    background-color: #E5E7EB;
    color: #1F2937;
    height: 250px;
    width: 400px;
    align-items: center;
    justify-content: center;
}

.random-info{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.random-info .title{
    padding: 50px;
    color: #1F2937;
    font-weight: 900px;
    font-size: 36px;
    text-align: center;
}
.container{
    display:flex;
    justify-content: center;
    gap: 50px;
    max-width: 1000px; 
    margin-bottom: 100px;
}

.random-info .image{
    border-radius: 8px;
    border-color: #3882F6;
    border-style: solid;
    border-width: 2px;
    max-width: 120px;          
    max-height: 120px;  
    display: flex;
    align-items: center;
    justify-content: center;
}

.information{
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 200px;
    align-items: center; 
    gap: 20px;
}

.quote-section{
    background-color: #E5E7EB;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    padding: 48px 240px;
    min-width: 350px;
}
.quote-text{
    font-size: 36px;
    font-weight:50px;
    font-family:"italic";
    color: #1F2937;
    display:flex;
    justify-content: center;
    align-items: center;

}
.author{
    align-self: flex-end;
    font-size: 24px;
    font-weight: 400;
}


.action-section{
    display:flex;
    justify-content: center;
    align-items: center;
   
    
    

}
.action-section .button{
    border-color: white;
}
.action-section .title{
    color: white;
    font-weight: bold;
    font-size: 36px;

}

.action-section .content{
    display: flex;
    background-color: #3882F6;
    width: 1000px;
    height: 50px;
    padding: 48px 32px;      /* Reduced horizontal padding */
    margin: 0 auto;  
    margin: 200px 240px;
    border-radius: 8px;
    justify-content: space-around;
    align-items: center;
   
}


.action-section button{
     background-color: #3882F6;
    border-radius: 8px;
    color:#F9FAF8;
    font-weight: 900px;
    padding: 10px 20px;
    border-color:white;
    border-style: solid;
    width: 100px;
    font-weight: bold;
}

.action-section .text{
    color: white;
    font-weight: 50;
}

.footer{
    background-color: #1F2937;
    color:#E5E7EB;
    font-size: 18px;
    padding: 20px 0px;
    text-align: center;
}
.main-container{
    flex:1;
}